.faq-CONTAINER{
    background-color: hsl(294, 26%, 95%);
}

.faq-container {
    width: 50vw;
    margin: auto;
    padding: 50px;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  }
  .faq-container.slide-in {
    opacity: 1;
    transform: translateX(0);
}
  
  .faq-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .highlight {
    color: #7c3aed;
  }
  
  .faq-subtitle {
    color:#666;
    font-size:1.20rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq-item {
    border:none;
    overflow: hidden;
  }
  
  .faq-question {
    width: 100%;
    text-align: left;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #f3f4f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  .faq-question:hover {
    background-color: #e5e7eb;
  }
  
  .toggle-icon {
    color: #7c3aed;
    font-size: 20px;
  }
  
  .faq-answer {
    padding: 12px;
    background-color: #ffffff;
    color: #666;
    border-top: 1px solid #e5e7eb;
  }
  