.navbar {
    z-index: 1;
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navbar-categories{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .category{
    margin:20px;
  }
  .category:hover{
    cursor:pointer;
    color: #683ecc;
  }